/** @format */
@import './libs/normalize.scss';
@import 'variables.scss';

//========================================================================================================================================================
body {
  font-size: 18px;
  font-family: 'Montserrat';
}
//====================================================================================================
.header {
  &__top {
  }
  &__body {
  }
  &__catalog {
  }
}
.top-header {
  background-color: $mainDarkColor;
  padding: 10px 20px;
  a:visited {
    color: #fff;
  }

  &__container {
    margin: 0 auto;
    max-width: 1599.98px;
    display: flex;
    align-items: center;
    gap: 20px;
    min-height: 50px;
  }

  &__menu {
    flex: 1 1 auto;
  }

  &__user {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    line-height: 1.2;
    svg {
      font-size: 28px;
      margin-right: 10px;
    }
    @media (any-hover: hover) {
      &:hover {
        span {
          text-decoration: underline;
        }
      }
    }
  }
}
//========================================================================================================================================================
.menu {
  &__body {
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(5);
    gap: 60px;
  }

  &__item {
  }

  &__link {
    line-height: 1.2;
    &:hover {
      text-decoration: underline;
    }
  }
}
//========================================================================================================================================================
.body-header {
  padding: 10px 20px;
  background-color: #ecf1f2;

  &__container {
    display: flex;
    min-height: 70px;
    align-items: center;
    margin: 0 auto;
    max-width: 1599.98px;
  }

  &__logo {
    font-style: italic;
    font-weight: 600;
    font-size: 32px;
    color: $mainDarkColor;
    white-space: nowrap;
  }

  &__search {
    flex: 1 1 auto;
    margin: 0px 20px 0px 110px;
  }
  &__actions {
  }
}
.search-header {
  max-width: 377px;
  background-color: rgba(7, 7, 7, 0.03);
  border-radius: 3px;
  position: relative;
  border: 1px solid rgba(4, 4, 4, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px 0px;
  &__button {
    position: absolute;
    background-color: transparent;
    height: 41px;
    width: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 8px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
  }
  &__icon {
    cursor: pointer;
    path {
      transition: all 0.3s ease 0s;
    }
    &-search {
      &:hover path {
        fill: #575757;
      }
    }
    &-remove {
      transition: all 0.3s ease 0s;
      &:hover path:not(:first-child) {
        fill: #575757;
      }
    }
  }

  &__input {
    width: 100%;
    background-color: transparent;
    border-radius: 3px;
    height: 41px;
    color: $mainColor;
    padding: 0px 20px;
    &::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
//========================================================================================================================================================
.actions-header {
  display: flex;
  align-items: center;
  column-gap: 30px;

  &__location {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    margin-right: 25px;
    svg {
      margin-right: 15px;
    }
    path {
      transition: all 0.3s ease 0s;
    }
    &:hover {
      path {
        fill: #e8aa31;
      }
      span {
        text-decoration: underline;
      }
    }
  }
  &__phones {
  }

  &__favorite {
    font-size: 27px;
    path {
      transition: all 0.3s ease 0s;
    }
    &:hover {
      path {
        fill: #e8aa31;
      }
    }
  }

  &__cart {
  }
}

.phones-header {
  &__items {
    position: relative;
  }

  &__phone {
    font-weight: 600;
    white-space: nowrap;
    line-height: 1.2;
  }

  &__arrow {
    color: $mainOrange;
    font-size: 10px;
    transition: transform 0.3s ease 0s;
    margin-left: 17px;
    &.open {
      transform: rotate(-180deg);
    }
  }

  &__list {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    margin-top: 5px;
    background-color: #fff;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    li {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
    &.open {
      opacity: 1;
      visibility: visible;
    }
  }
}
.cart-header {
  display: flex;
  align-items: center;
  column-gap: 15px;
  &__icon {
    flex: 0 0 37px;
    font-size: 35px;
    position: relative;
    span {
      position: absolute;
      width: 14px;
      height: 14px;
      background-color: $mainOrange;
      font-size: 5px;
      border-radius: 50%;
      display: flex;
      top: 0;
      right: 0;
      color: #fff;
      justify-content: center;
      align-items: center;
    }
  }

  &__body {
    font-size: 16px;
    line-height: 1.2;
    flex: 0 0 auto;
    a:visited {
      color: $mainOrange;
    }
  }

  &__summ {
    font-weight: 500;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }
}
//========================================================================================================================================================
.catalog-header {
  position: relative;
  background-color: $mainDarkColor;
  color: #fff;
  &__container {
    margin: 0 auto;
    max-width: 1599.98px;
  }

  &__menu {
  }
}
.menu-catalog {
  &__list {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-bottom: 1px solid $mainOrange;
  }
  &__items {
    position: relative;
    cursor: pointer;
  }

  &__item {
  }

  &__link {
    min-height: 70px;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    white-space: nowrap;
    transition: color 0.3s ease 0s;
    &:hover {
      color: $mainOrange;
    }
    &.open {
      color: $mainOrange;
    }
  }
}
.sub-menu-catalog {
  &__row {
    height: 100%;
    display: block;
    transition: all 0.3s ease 0s;
    a:visited {
      color: #fff;
    }
  }

  &__category {
    align-self: flex-start;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    padding: 30px 15px;
    &:hover {
      text-decoration: underline;
    }
  }

  &__list {
    flex: 1 1 auto;
    display: flex;
    gap: 20px;
    padding: 15px 10px;
    background-color: #141414;
    overflow-x: auto;
    justify-content: space-between;
  }

  &__item {
  }

  &__link {
    font-size: 16px;
    line-height: 1.2;
    white-space: nowrap;
    &:hover {
      text-decoration: underline;
    }
  }

  &__all {
    align-self: flex-start;
    font-size: 16px;
    color: $mainOrange;
    padding: 30px 15px 0px 15px;
    &:hover {
      text-decoration: underline;
    }
  }
}
